*{
    margin: 0;
    padding: 0;
    font-family: century Gothic;
}


body {
    background-color:#c5a373;
}

ul{
    float: right;
    list-style: none;
    margin-top: 35px;

}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #f5e8e1;
    padding: 5px 25px;
    font-size: 18px;

}